<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top" th:fragment="navbar(selectedLink)">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}">
                        <img src="https://spring.io/img/homepage/icon-spring-framework.svg" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <div th:switch="${selectedLink}" th:remove="tag">
                        <ul class="nav navbar-nav" th:case="'home'">
                            <li class="active"><a th:href="@{/}">Home</a></li>
                            <li><a th:href="@{/about}">About</a></li>
                        </ul>

                        <ul class="nav navbar-nav" th:case="'about'">
                            <li><a th:href="@{/}">Home</a></li>
                            <li class="active"><a th:href="@{/about}">About</a></li>
                        </ul>

                        <ul class="nav navbar-nav" th:case="*">
                            <li><a th:href="@{/}">Home</a></li>
                            <li><a th:href="@{/about}">About</a></li>
                        </ul>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <div sec:authorize="isAuthenticated()" th:remove="tag">
                            <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Log Out</a></li>
                        </div>
                        <div sec:authorize="isAnonymous()" th:remove="tag">
                            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </div>
                    </ul>
                </div>

            </div>
        </nav>
    </body>
</html>