<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Spring Boot Test Project</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html, charset=ISO-8859-1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/alertify.min.css" />
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="//cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" />
        <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" />
        <link rel="stylesheet" th:href="@{/css/base.css}" />
    </head>
    <body>
        <div class="viewport">
            <div th:replace="fragments/header :: navbar(${page})"></div>
            <div layout:fragment="content">
                <h3>No content specified.</h3>
            </div>
        </div>

        <div layout:fragment="baseJs" th:remove="tag">
            <!-- Pass context path to JS -->
            <script th:inline="javascript" type="text/javascript">
                /*<![CDATA[*/
                const contextPath = /*[[@{/}]]*/ '/';
                /*]]>*/
            </script>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
            <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js"></script>
            <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
            <script src="//cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
            <script src="//cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
            <script src="//cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
            <div layout:fragment="extJs" th:remove="tag"></div>
        </div>
       
    </body>
</html>
